#root {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Star Wars', sans-serif;
  color: white;
  background-color: cadetblue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  height: 100px;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}

.logo {
  padding: 5px;
}
.logo-link {
  font-size: 42px;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
}
.nav-block {
  max-width: 600px;
  display: flex;
  justify-content: start;
}
.nav-block a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin-right: 20px;
}
